-# frozen_string_literal: true
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "#"}
    %img.d-inline-block.align-top{alt: "", height: "30", loading: "lazy", src: asset_pack_path('media/images/brand_icon.svg'), width: "30"}/
    Car Club
  %button.navbar-toggler{"aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarSupportedContent", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'My Network', '#', class: 'nav-link'
    - if user_signed_in?
      .dropdown
        = image_tag current_user.avatar, id: 'profile', class: 'avatar dropdown-toggle', data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}
        .dropdown-menu.dropdown-menu-right{aria: {labelledby: "profile"}}
          = link_to t(:sign_out, scope: %I[devise sessions destroy]), destroy_user_session_path, method: :delete, class: 'dropdown-item'
    - else
      = link_to t(:sign_in, scope: %I[devise sessions new]), new_user_session_path, class: 'btn btn-primary'
